@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Titillium+Web:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic styles */
body {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    

}

h1 {
        font-family: 'Cinzel', serif;
        text-decoration: solid;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        font-size: 1rem;
}

h2,h3 {
        font-family: 'Cinzel', serif;
        text-decoration: solid;
        text-transform: uppercase;
        letter-spacing: 3px;
        color: rgb(255, 255, 255);
        
        
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 100;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

#menu {
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    top: 100%;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    background-color: black;
    box-shadow: 2px 2px  rgb(255, 255, 255);
    display: none;
    

}

.nav-toggle:checked~nav {
    display: block;
}

.nav-toggle {
    display: none;
}

.nav-label {
    font-size: 1em;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#bg-logo {
    height: 450px;
    width: 100%;
    background: url("../images/BackgroundProject.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    position: absolute;
    padding-left: 10px;
    width: 100%;
    top: 0;
    margin-top: 164px;
    padding-top: 0px;
    min-height: 40px;
    font-size: 70%;
    background-color: rgba(168, 18, 18, 0.3);
}

#about-us {
    width: 80%;
    margin: 20px auto;
    padding-top: 10px;
}

#about-text {
    color: white;
    font-size: 1rem;
    text-align: center;

}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 100%;
        
    }

    nav {
        display: block;
        position: relative;
        width: fit-content;
        padding-left: 255px;
        letter-spacing: 4px;
        box-shadow: none;

    }

    #menu {
        display: flex;
    }

    #menu > li {
        
        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 79px;
    }

    

    #cover-text {
        width: 40%;
        height: 52px;
        font-size: 70%;
    }

    





}