@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&family=Titillium+Web:wght@300;400&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* generic styles */
body {
    font-family: 'Titillium Web', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #16001E;
}

h1 {
    font-family: 'Cinzel', serif;
    text-decoration: solid;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ff3c38;
    font-size: 20px;
    text-align: center;
    padding-left: 5px;

}

h2,
h3,
h4 {
    font-family: 'Cinzel', serif;
    text-decoration: solid;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #ff3c38;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 100;
    z-index: 99;
    background-color: #16001E;
    width: 100%;
}

header i {
    padding-right: 10px;
}

header a {
    text-decoration: none;
    color: whitesmoke;
}

#menu {
    list-style-type: none;

}

#menu>li {
    margin-bottom: 1em;
}

nav {
    position: absolute;
    top: 100%;
    padding: 0 1rem;
    width: 100%;
    left: 0;
    box-shadow: 2px 2px rgb(255, 255, 255);
    display: none;
    background-color: #16001E;

}

.nav-toggle:checked~nav {
    display: block;
}

.nav-toggle {
    display: none;
}

.nav-label {
    font-size: 1em;
}

main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

#bg-logo {
    height: 450px;
    width: 100%;
    background: url("../images/backgroundproject.jpg") no-repeat center center/cover;
    position: relative;
}

#cover-text {
    position: absolute;
    padding-left: 10px;
    width: 100%;
    top: 0;
    margin-top: 164px;
    padding-top: 0px;
    min-height: 40px;
    font-size: 70%;
    text-align: center;

}

#about-us {
    width: 80%;
    margin: auto;
    padding-top: 10px;
}

#about-text {
    color: white;
    font-size: 1rem;
    text-align: center;

}

#football-safety {
    width: 80%;
    padding-top: 15px;
    margin: auto;
}

#football-safety h3 {
    font-size: 80%;
}

#safety-text {
    color: white;
    padding-top: 20px;
    font-size: 1rem;
    text-align: center;
}

#safety-vid video {
    width: 90%;
    padding-top: 10px;
    align-items: center;

}

#safety-vid a {

    color: white;
    align-self: center;
    padding: 0 10px;
}

.history {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
    padding-top: 10px;
}

.history h2 {
    font-size: 15px;
}

.timeline {
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.timeline h3 {
    padding-top: 25px;

}

.timeline-dimensions {
    width: 80%;
    margin: auto 30px;
    padding-top: 27px;

}

.timeline-dimensions::after {
    content: '';
    position: absolute;
    width: 7px;
    top: 0;
    bottom: 0;
    margin-top: 80px;
    left: 10px;
    background-color: #fff;
}


.timeline-container {
    border: solid 2px gray;
    border-radius: 10%;
    position: relative;
    color: gray;
    padding: 10px;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: black;
    border: 4px solid #fff;
    border-radius: 50%;
    z-index: 1;
    bottom: 0;
    top: 0;
    left: -31px;
}

.content p {
    color: #fff;

}

.content small {
    font-size: 15px;
    font-weight: 900;
}

.future-updates {
    text-align: center;
    width: 80%;
    margin: auto;
    color: #fff;
    padding-top: 26px;
    padding-bottom: 10px;
}

.future-text h3 {
    font-size: 15px;
}

/* footer styles */

#social-networks {
    display: flex;
    justify-content: space-between;
    font-size: 150%;
    padding-top: 16px;
    list-style-type: none;


}

#social-networks>li {
    padding-right: 15px;
    padding-left: 20px;
}




/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    h1 {
        font-size: 30px;


    }

    nav {
        display: flex;
        position: relative;
        width: fit-content;
        padding-left: 255px;
        letter-spacing: 4px;
        box-shadow: none;
        width: 100%;
        justify-content: right;
        font-size: 20px;

    }

    #menu {
        display: flex;
    }

    #menu>li {

        padding-left: 1rem;

    }

    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 79px;
    }



    #cover-text {
        width: 40%;
        height: 52px;
        font-size: 70%;
    }

    #about-text {

        width: 100%;

    }

    .safety-text {
        width: 100%;
        padding-top: 15px;
    }


    #safety-vid video {
        width: 100%;
        height: 200px;
        align-self: center;
        padding-top: 15px
    }

    #safety-vid a {
        font-size: 10px;
    }

    .history {
        width: 80%;
        padding-top: 20px;

    }

    .history h2 {
        font-size: 20px;
    }

    .timeline {
        max-width: 1200px;
    }

    .timeline h3 {
        font-size: 25px;
        text-align: center;
    }

    .timeline-dimensions {
        align-self: center;
        padding-top: 30px;
    }

    .timeline-dimensions::after {
        left: 53%;
        right: 0;
        margin-top: 15%;
    }

    .timeline-container::after {
        right: 0;
        left: -55px;
        height: 30px;
        width: 30px;
    }

    .left {
        left: 60%;
        width: 50%;
    }

    .right {
        right: 9%;
        width: 57%;
    }

    .right::after {
        left: 106%;
    }

    .content {
        font-size: 20px;
    }

    .future-updates {
        padding-top: 25px;
        width: 80%;

    }

    .future-updates h3 {
        font-size: 25px;
        padding-bottom: 10px;
        padding-top: 10px;

    }

    .future-text {
        font-size: 20px;
        padding-bottom: 20px;
    }

    #social-networks {
        font-size: 200%;
    }

    #social-networks :hover {
        background-color: rgb(255, 255, 255);
        width: 40px;
        height: 20px;
        border-radius: 50%;
        color: #fff;

    }

    @media screen and (min-width: 1200px) {

        header h1 {
            font-size: 40px;
        }

        nav {
            font-size: 30px;
        }

        #bg-logo {
            height: 800px;
        }

        #cover-text {
            font-size: 20px;
            padding-top: 120px;
        }

        #about-us {
            width: 100%;
        }

        #about-us h3 {
            font-size: 25px;
        }

        #about-text {
            width: 100%;
            font-size: 25px;

        }

        #football-safety {
            width: 100%;
        }

        #safety-text {
            font-size: 25px;
            width: 100%;
        }

        #safety-text h2 {
            font-size: 25px;
        }

        #safety-vid video {
            width: 100%;
            height: 450px;
        }

        #safety-vid a {
            font-size: 25px;
        }

        .history {
            width: 100%;
            padding-top: 52px;
        }

        .history h2 {
            font-size: 25px;
            padding-top: 30px;
        }

        .history-text {
            font-size: 20px;
        }

        .timeline-dimensions {
            width: 100%;
        }

        .timeline-container {
            right: 30px
        }

        .left {
            left: 635px;
        }

        .right {
            right: 109px;
        }

        .content {
            padding: 10px;
        }


        .timeline-dimensions::after {
            margin-top: 10%;
            width: 14px;
            left: 596px;
        }

        .timeline-container.right::after {
            left: 690px;
        }

        .future-updates {
            width: 100%;
            padding-top: 20px;
        }

        .future-updates h2 {
            font-size: 25px;
            padding-bottom: 20px;
        }

        .future-text {
            font-size: 20px;
        }

        #social-networks {
            font-size: 300%;
        }

    }

}